.library-card{
    display: flex;
    flex-direction: column;
}

.list{
    

    list-style: none;
}

.each-book{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 10px;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 20px;

}

.remove-btn{
    border: 0px;
    background-color: crimson;
    border-radius: 7px;
    padding: 7px;
    color: #ffffff;
}
