.book-card{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 400px;
    display: flex;
    margin-right: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    height: 180px;
    align-items: center;
    justify-content: space-between;
}

.left-card{
    background-color: #000000;
    color: #ffffff;
    width: 35%;
    height: 100%;
    padding: 10px;
    text-align: center;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.right-card{
  
    padding: 10px;
}

.view-btn{
    border: 0px;
    padding: 10px;
    border-radius: 7px;
    background-color: #ff2525;
    color: #ffffff;
    margin-bottom: 5px;
}